:root 
{
  --vino: #8B1E2D;  
}
body 
{
  font-family: 'Poiret One', sans-serif;
  font-size: 18px;
  line-height: 1.7;
}
h1, h2, h3 
{
  font-family: 'Lobster', cursive;
}
p {
  line-height: 1.6;
}




