:root {
    --rojo: #5d0a1a;
    --grisClaro: #c0bfbf;
    --rojoClaro: #fff2f4;
    --azul:rgba(21, 93, 252);
    --azulClaro:#eff6ff;
    --verde:#00a63e;
    --verdeClaro:#f0fdf4;
    --morado:#9810fa;
    --moradoClaro:#faf5ff;
    --naranja:#f54900;
    --naranjaClaro:#fff7ed;

}
/* letra */
.letraRomana{
    font-family: 'Times New Roman', Times, serif;
}
/* textos */

.textoPequeno {
    font-size: 12px;
}
.texto{
    font-size: 14px;
}
.textoMediano{
    font-size: 18px;
}
.tituloPequeno{
    font-size: 1.5rem;
}
.titulo{
    font-size: 2.2rem;
}
.subtitulo{
    font-size: 2rem;
}

/* colores */
.texto-rojo {
    color: var(--rojo);
}
.bg-rojo {
    background-color: var(--rojo);
}
.border-rojo {
    border-color: var(--rojo) !important;
}
.texto-rojoClaro {
    color: var(--rojoClaro);
}
.bg-rojoClaro {
    background-color: var(--rojoClaro);
}
.texto-grisClaro {
    color: var(--grisClaro);
}
.bg-grisClaro {
    background-color: var(--grisClaro);
}
.texto-azul{
    color: var(--azul);
}
.bg-azul{
    background-color: var(--azul);
}
.texto-azulClaro {
    color: var(--azulClaro);
}
.bg-azulClaro {
    background-color: var(--azulClaro);
}
.texto-verde {
    color: var(--verde);
}
.bg-verde {
    background-color: var(--verde);
}
.texto-verdeClaro {
    color: var(--verdeClaro);
}
.bg-verdeClaro {
    background-color: var(--verdeClaro);
}
.texto-morado {
    color: var(--morado);
}
.bg-morado {
    background-color: var(--morado);
}
.texto-moradoClaro {
    color: var(--moradoClaro);
}
.bg-moradoClaro {
    background-color: var(--moradoClaro);
}
.texto-naranja {
    color: var(--naranja);
}
.bg-naranja {
    background-color: var(--naranja);
}
.texto-naranjaClaro {
    color: var(--naranjaClaro);
}
.bg-naranjaClaro {
    background-color: var(--naranjaClaro);
}

/* sombra */
.sombra{
    box-shadow: 
        0 1px 2px rgba(0, 0, 0, 0.05),
        0 8px 24px rgba(0, 0, 0, 0.06);
}


/* body */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(253, 253, 253);
    
}
/* circulo de perfil */
.circuloPerfil {
    width: 40px;
    height: 40px;
}
span.perfilUsuarioGrande, .perfilUsuarioGrande i{
    width: 80px !important;
    height: 80px !important;
}

/* hover items del navegador */
.navegador:not(.active):hover {
    background-color:var(--rojoClaro);
    color: var(--rojo) !important;
}


.cerrarSesion:hover{
    color:var(--rojo) !important;
}

/* tamaño iconos dashboard */

.iconos{
    font-size: 1.5rem;
}

/* aprobaciones de recetas dashboard */
.aprobacionesReceta:hover{
    background-color: rgb(247, 247, 247);

}

/* registro de tabla */
.registroTabla:hover{
    background-color: rgb(251, 251, 251);
}

.ocultaAcciones{
    opacity: 0;
    transition: opacity 0.3s ease;
}
.registroTabla:hover .ocultaAcciones{
    opacity: 1;
}

/* boton menu */

.botonMenu{
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%) !important;
    left:-3.8em !important;
    top:50% !important;
    transform: rotate(-90deg) !important;
}

/* boton de copiar de ver datos de usuario */
.activo {
    transform: rotate(360deg);
    transition: transform 0.7s ease;
}

.orden i {
  display: inline-block;
  transition: transform 0.2s ease;
}

.invertido  i{
    transform: rotate(180deg) !important;
    transition: transform 0.7s ease;
}




